In [1]:
import pandas as pd
samples = pd.read_json("data/dbpedia_samples.jsonl", lines=True)
categories = sorted(samples["category"].unique())
print("Categories of DBpedia samples:", samples["category"].value_counts())
samples.head()

Categories of DBpedia samples: Artist                    21
Film                      19
Plant                     19
OfficeHolder              18
Company                   17
NaturalPlace              16
Athlete                   16
Village                   12
WrittenWork               11
Building                  11
Album                     11
Animal                    11
EducationalInstitution    10
MeanOfTransportation       8
Name: category, dtype: int64

                                                text      category
0   Morada Limited is a textile company based in ...       Company
1   The Armenian Mirror-Spectator is a newspaper ...   WrittenWork
2   Mt. Kinka (金華山 Kinka-zan) also known as Kinka...  NaturalPlace
3   Planning the Play of a Bridge Hand is a book ...   WrittenWork
4   Wang Yuanping (born 8 December 1976) is a ret...       Athlete